version: '3.8'

services:
  sakai-ng:
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app          # Sincroniza tu proyecto con el contenedor
      - /app/node_modules  # Evita conflictos con node_modules local
    ports:
      - "4200:4200"     # Mapea el puerto del contenedor al host
    container_name: sakai-ng-dev
    stdin_open: true
    tty: true
